<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div th:include="index :: menu"></div>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th>Código</th>
            <th>Fornecedor</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="venda : ${vendas}">
            <td th:text="${venda.id}">0</td>
            <td th:text="${venda.cliente}">0</td>
            <td>
                <a th:href="@{'/venda/editar/' + ${venda.id}}" type="button" class="btn btn-warning">Alterar</a>
                <a th:href="@{'/venda/remover/' + ${venda.id}}" type="button" class="btn btn-warning">Remover</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>